/*
	Style for drop menus
*/

/*
	unordered menu list
*/
nav
{
	max-width: 80% !important;
	display:table;
	margin: 0 auto;
}

ul.drop_menu 
{
	list-style-type:none;

	display:table;

	cursor: default;

	background:#C8C8C8;

	border-style: solid;
    border-width: 1px;
	border-color: #888888;

	margin-bottom: 15px;
	margin-top: 15px;

	padding-left:15px !important;
	padding-right:15px !important;

	max-width: 700px;

	/*-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);*/
	-moz-box-shadow: 3px 3px 5px #484848;
    -webkit-box-shadow: 3px 3px 5px #484848;
    box-shadow: 3px 3px 5px #484848;
	border-radius: 5px;
}


/*
	submenu
*/
/*hides and styles submenus*/
ul.drop_submenu 
{
	display: block;
	visibility: hidden;
	position: absolute;
	opacity: 0;
	list-style-type:none;
	padding-left:0px;
	background:#888888;

	-moz-box-shadow: 3px 3px 5px #484848;
    -webkit-box-shadow: 3px 3px 5px #484848;
    box-shadow: 3px 3px 5px #484848;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;

	-o-transition:0.2s;
	-ms-transition:0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	/* ...and now for the proper property */
	transition:0.2s;
}

/*positions and reveals submenu when hovering drop menu list item*/
li.dm_li:hover ul.drop_submenu
{
	position:absolute;
	display:block;
	visibility: visible;
	opacity: 1.0;

	-o-transition:0.5s;
	-ms-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	/* ...and now for the proper property */
	transition:0.5s;
}


/*
	links in the menu
*/
/*styles links for menu list items*/
ul.drop_menu a 
{
	display:block;
	cursor: pointer;
	text-decoration:none;

	outline: 0;
	color:#484848;

	padding-left: 8px;
	padding-right: 8px;

	transition-property: color;
	-o-transition:0.2s;
	-ms-transition:0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	/* ...and now for the proper property */
	transition:0.2s;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}


/*changes link text colour when hovering*/
ul.drop_menu a:hover 
{
	color:#D8D8D8;

	-o-transition:0.5s;
	-ms-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	/* ...and now for the proper property */
	transition:0.5s;
}

ul.drop_menu li.dm_li
{
	background:#C8C8C8 !important;
	float: left;
	white-space:nowrap;

	-o-transition:0.2s;
	-ms-transition:0.2s;
	-moz-transition:0.2s;
	-webkit-transition:0.2s;
	/* ...and now for the proper property */
	transition:0.2s;
}

ul.drop_menu li.dm_li:hover
{
	background:#888888 !important;

	-o-transition:0.5s;
	-ms-transition:0.5s;
	-moz-transition:0.5s;
	-webkit-transition:0.5s;
	/* ...and now for the proper property */
	transition:0.5s;
}


/*styles text*/
ul.drop_menu .dm_text
{
	padding-left: 8px;
	padding-right: 8px;
	cursor: default;

	color:#484848;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

}

ul.drop_menu .dm_text:hover
{
	/*color:#D8D8D8;*/
}

/*
	just menu list items
*/
/*styles menu list items*/
li.dm_li 
{ 
	/*padding-top: 4px;
	padding-bottom: 4px;*/
}

/*styles menu list items when hovering*/
li.dm_li:hover 
{
	position:relative; 
}


