<!DOCTYPE html>
<html>
	<head>
		<meta name='viewport' content='width=device-width, initial-scale=0.75, maximum-scale=1.0'>

		<link rel='stylesheet' type='text/css' href='https://nift.cc/css/footer.css'>
		<link rel='stylesheet' type='text/css' href='https://nift.cc/css/menu.css'>
		<link rel='stylesheet' type='text/css' href='https://nift.cc/css/pagestyle.css'>
		<link rel='stylesheet' type='text/css' href='https://nift.cc/css/pre.css'>
		<link rel='icon' type='image/png' href='https://nift.cc/files/favicon.ico'>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62165905-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-62165905-2');
		</script>

		<!-- uses Font Awesome for vector icons and social logos -->
		<script src="https://kit.fontawesome.com/b51e6952ec.js"></script>
	</head>

	<body>
		@input(template/header-404.content)

		@inputcontent

		@input(template/footer-404.content)
	</body>
</html>

<!-- 
	information on how to easily make and host a site similar to
	this may be found at any of the following mirrors:
		* https://nifty-site-manager.com/ 
		* https://nifty-site-manager.bitbucket.io/ 
		* https://nifty-site-manager.github.io/ 
		* https://nifty-site-manager.gitlab.io/ 
		* https://web.archive.org/web/https://nifty-site-manager.com/
		* https://web.archive.org/web/20190520234459/https://www.nifty-site-manager.com/
-->

