<!doctype html>
<html lang="en">
	<head>
		@input("template/head.content")
	</head>

	<body>
		@input("template/menu.content")

		@content

		@input("template/footer.content")

		<!-- Inserts current year -->
		<script async>
			var x = document.getElementsByName("cyear");
			for(var i=0; i<x.length; i++)
			{
				x[i].innerHTML = new Date().getFullYear();
			}
		</script>

		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-62165905-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-62165905-2');
		</script>
	</body>
</html>

