<!DOCTYPE html>
<html>
	<head>
		@input(template/head.content)
	</head>

	<body>
		@input(template/header.content)

		@input(template/menu.content)

		@inputcontent

		@input(template/footer.content)

		<script src='@pathtofile(site/js/process_pre_tags.js)'></script>		
	</body>
</html>

<!-- 
	information on how to easily make and host a site similar to
	this may be found at any of the following mirrors:
		* https://nifty-site-manager.com/ 
		* https://nifty-site-manager.bitbucket.io/ 
		* https://nifty-site-manager.github.io/ 
		* https://nifty-site-manager.gitlab.io/ 
		* https://web.archive.org/web/https://nifty-site-manager.com/
		* https://web.archive.org/web/20190520234459/https://www.nifty-site-manager.com/
-->

