/* Basic styling */
nav {
  position: absolute;
  top: 0px;
  background: transparent;
  width: 100%;
  z-index: 999;
}
a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
}
.logo{
  font-size: 20px !important;
  padding: 0.57em;
  display: inline-block;
}
.item li {
  padding: 0.3em;
  display: inline-block;
}
.item {
  padding: 10px;
}
.item.icons {
  padding: 5px 5px;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}
.menu li a {
  display: block;
  padding: 5px 5px;
}
.menu li.subitem a {
  padding: 5px;
}
.toggle {
  order: 1;
}
.item.icons {
  order: 2;
}
.item {
  order: 3;
  text-align: center;
  display: none;
}
.subitem, a.hover-hl {
  background: transparent;
  transition-property: background;
    -o-transition:0.3s;
    -ms-transition:0.3s;
    -moz-transition:0.3s;
    -webkit-transition:0.3s;
    transition:0.3s;
}
.subitem:hover, a.hover-hl:hover {
  background: #435e47;
  transition-property: background;
    -o-transition:0.6s;
    -ms-transition:0.6s;
    -moz-transition:0.6s;
    -webkit-transition:0.6s;
    transition:0.6s;
}
.item.icons i {
  color: white;
  transition-property: color;
    -o-transition:0.4s;
    -ms-transition:0.4s;
    -moz-transition:0.4s;
    -webkit-transition:0.4s;
    transition:0.4s;
}
.item.icons i:hover {
  color: #72c920;
  transition-property: color;
    -o-transition:0.6s;
    -ms-transition:0.6s;
    -moz-transition:0.6s;
    -webkit-transition:0.6s;
    transition:0.6s;
}
.active .item {
  display: block;
  width: 100%;
}
.active .item.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
  max-height: 300px;
  overflow-y: scroll;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu {
  cursor: grab;
}
.has-submenu > a::after {
  font-family: "fa-solid";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 5px 5px;
}
.submenu-active {
  background-color: transparent;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
    padding-right: 10px;
  }
  .logo {
    order: 0;
  }
  .nav-space-left{
    flex: 1;
    order: 1;
  }
  .item.icons {
    width: auto;
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .item{
    order: 4;
  }
  .toggle {
    text-align: right;
    order: 3;
  }
  .menu li.icons a {
    padding: 5px 5px;
    margin: 5px 0;
  }
  .icons a:hover {
    text-decoration: none;
  }
}


@media all and (max-width: 960px) {
  .menu.active {
    box-shadow: 0px 4px 10px 2px rgba(255, 255, 255, 1);
  }

  a.item-link
  {
    padding: 1em !important;
  }

  .hover-hl .item-link {
    background: transparent;
    transition-property: background;
    -o-transition:0.6s;
    -ms-transition:0.6s;
    -moz-transition:0.6s;
    -webkit-transition:0.6s;
    transition:0.6s;
  }

  .hover-hl .item-link:hover {
    background: #435e47;
    transition-property: background;
    -o-transition:0.6s;
    -ms-transition:0.6s;
    -moz-transition:0.6s;
    -webkit-transition:0.6s;
    transition:0.6s;
  }

  .logo {
    color: white;
    transition-property: color;
    -o-transition:0.6s;
    -ms-transition:0.6s;
    -moz-transition:0.6s;
    -webkit-transition:0.6s;
    transition:0.6s;
  }
  .logo:hover {
    color: #72c920;
    transition-property: color;
    -o-transition:0.6s;
    -ms-transition:0.6s;
    -moz-transition:0.6s;
    -webkit-transition:0.6s;
    transition:0.6s;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-right: 0px;

    transition-property: background;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    transition:0.5s;
  }
  .menu:hover {
    background: rgba(31, 32, 33, 1) !important;
    transition-property: background;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    transition:0.5s;
  }
  li.hover-hl, .logo {
    background: transparent;

    transition-property: background;
    -o-transition:0.3s;
    -ms-transition:0.3s;
    -moz-transition:0.3s;
    -webkit-transition:0.3s;
    transition:0.3s;
  }
  li.hover-hl:hover, .logo:hover {
    background: #435e47 !important;

    transition-property: background;
    -o-transition:0.5s;
    -ms-transition:0.5s;
    -moz-transition:0.5s;
    -webkit-transition:0.5s;
    transition:0.5s;
  }
  .logo {
    order: 0;
  }
  .nav-space-left
  {
    order: 1;
    flex: 1;
  }
  .nav-space-right
  {
    order: 1;
    flex: 1;
  }
  .icons {
    order: 2;
  }
  .item {
    order: 2;
    position: relative;
    display: inline-block;
    width: auto;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    right: 0;
    top: 58px;
    background: rgba(31, 32, 33, 1);
    min-width: 200px;
  }
  .toggle {
    display: none;
  }
  .submenu {
    border-radius: 0px 0px 5px 5px;
  }
  .subitem {
    width: 100%;
  }
}

/**
 *  modified from https://webdesign.tutsplus.com/tutorials/how-to-build-a-responsive-navigation-bar-with-flexbox--cms-33535
 */