noselect
{
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
}

div.content
{
	font-size:14pt;
	color: #2b2c2e;
}

mono
{
	font-family: DejaVu Sans Mono, Liberation Mono, Consolas, Ubuntu Mono, Courier New;
	font-size: 85%;
	color: #415891;
}

a.discord
{
	text-decoration:none;

	outline: 0;
	color:#dbd5d5;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.discord:hover
{
	color:#969292;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.teemill
{
	text-decoration:none;

	outline: 0;
	color:#88d45f;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.teemill:hover
{
	color:#58d117;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.bb
{
	text-decoration:none;

	outline: 0;
	color:#409adb;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.bb:hover
{
	color:#305da6;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.gh
{
	text-decoration:none;

	outline: 0;
	color:grey;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.gh:hover
{
	color:#1F1F1F;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.gl
{
	text-decoration:none;

	outline: 0;
	color:#e88523;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.gl:hover
{
	color:#b87a1d;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

a.reddit
{
	text-decoration:none;

	outline: 0;
	color:#FF4500;

	transition-property: color;
	-o-transition:0.8s;
	-ms-transition:0.8s;
	-moz-transition:0.8s;
	-webkit-transition:0.8s;
	transition:0.8s;
}

a.reddit:hover
{
	color:#e88523;

	-o-transition:0.3s;
	-ms-transition:0.3s;
	-moz-transition:0.3s;
	-webkit-transition:0.3s;
	transition:0.3s;
}

