.dark-mode {
  background-color: #1f2021 !important;
  color: white !important;
}

.a-dark {
  color: #fb4d46 !important; /*#c2bac2*/
}

.button-dark {
  color: white !important;
}

.cpbutton-dark:active {
  background: #ff1493 !important;
}

.th-dark
{
  overflow-x: auto !important;
  color: #39ff14 !important;
}

.td-dark
{
  overflow-x: auto !important;
  background-color: #363331;
  border: 1px solid #a39e8e !important;
}

.fluro-green {
  color: #39ff14 !important;
}

.white {
  color: white !important;
}

.fluro-pink {
  color: #ff1493 !important;
}

.fluro-purple {
  color: #c922c9 !important;
}

/* The switch - the box around the slider */
.light-dark-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

/* Hide default HTML checkbox */
.light-dark-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc; /*light background*/
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ccc; /*dark background*/
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
