contentDir 'content/'
contentExt '.content'
outputDir 'site/'
outputExt '.html'
scriptExt '.f'
defaultTemplate 'template/page.template'

backupScripts 1

lolcatDefault 0

lolcatCmd 'nift lolcat-cc -f'

buildThreads -1

paginateThreads -1

incrementalMode -2022

terminal 'normal'

unixTextEditor 'subl -n'
winTextEditor 'notepad'

rootBranch 'stage'
outputBranch 'master'
