contentDir 'content/'
contentExt '.content'
outputDir 'site/'
outputExt '.html'
scriptExt '.f'
backupScripts 1

lolcat 0

lolcatCmd 'nift lolcat -f'

buildThreads -1

paginateThreads -1

incrementalMode -2022

terminal ''

unixTextEditor 'nano'
winTextEditor 'notepad'

rootBranch 'stage'
outputBranch 'master'
