contentDir 'content/'
contentExt '.content'
outputDir 'site/'
outputExt '.html'
scriptExt '.f'
defaultTemplate 'template/page.template'

backupScripts 1

buildThreads -1

paginateThreads -1

incrementalMode -2022

terminal ''

lolcat 1
lolcatCmd "lolcat-cc -f"

unixTextEditor 'subl -n'
winTextEditor 'notepad'

rootBranch 'stage'
outputBranch 'master'
